dk-tasklib==3.0.6
dkfileutils==1.4.5
invoke==2.2.0                  ; python_version < '3.12'
invoke==3.0.3                  ; python_version >= '3.12'
pytest-cov==4.1.0
PyYAML==6.0.1                  ; python_version < '3.12'
PyYAML==6.0.3                  ; python_version >= '3.12'
yamldirs==1.1.16

